/* Global Vars, html reset and custom fonts */
:root {
  --primary-dark: rgba(20, 37, 37, 0.932);
  --primary-light: rgba(139, 244, 241, 0.983);
  --secondary-light: rgba(220, 235, 241, 0.933);
  --test: rgba(225, 225, 225, 0.9);
  --title-font: "Vanilla Whale";
  --primary-font: "Hack";
  --secondary-font: "Philosopher";
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Philosopher";
  src: url("Philosopher.woff2") format("woff2"),
    url("Philosopher.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vanilla Whale";
  src: url("VanillaWhale-Regular.woff2") format("woff2"),
    url("VanillaWhale-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Hack;
  src: url("fonts/Hack-Regular.woff2") format("woff2"),
    url("fonts/Hack-Regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html body {
  font-size: 1.2rem;
  padding: 0px;
  margin: 0px;
  font-family: Hack, Philosopher, "Lucida", "Roboto";
}

/* Main Property assignment */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2rem;
  color: var(--primary-dark);
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0.5rem;
  color: var(--primary-dark);
}

input {
  font-size: 1rem;
  margin: 1.5rem 0 1rem 0;
  padding: 0.5rem;
}

input:focus {
  border: none;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
  outline: none;
  border: 2px solid rgb(74, 202, 198);
}

.error-message {
  font-size: 1rem;
  color: rgb(255, 69, 100);
}

.btn-search {
  font-size: 1.15rem;
  font-weight: 600;
  background-color: rgb(74, 202, 198);
  border-radius: 5px;
  margin: 1rem;
  padding: 0.4rem 1rem;
  transition: transform 0.1s ease-in-out;
}

.btn-search:hover {
  cursor: pointer;
}

.btn-search:active {
  transform: scale(0.9);
}

.results-now-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 75vw;
  gap: 1.5rem;
}

.visible {
  border: 2px solid var(--primary-dark);
  border-radius: 5px;
  padding: 0.5rem 2rem;
}

.container > * {
  padding: 0.2rem 0.5rem;
}

.container > :first-child {
  font-size: 1.5rem;
  font-weight: bolder;
}

#city {
  background-color: var(--primary-light);
  min-width: 321px;
  max-width: fit-content;
  position: relative;
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nowcast {
  min-width: 321px;
  text-align: center;
}

#forecast {
  width: 75vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(321px, 1fr));
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.forecast-day {
  max-width: 640px;
}
.footer {
  position: absolute;
  bottom: 0px;
  color: var(--primary-dark);
  text-align: center;
  display: flex;
  align-content: center;
  gap: 10px;
  margin: 24px;
  font-size: 1rem;
}

.am-github {
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out;
}

.am-github:hover {
  transform: scale(1.25);
} /* Pulls focus to github link when hovered */

@media screen and (max-width: 875px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
  }
  #city {
    max-width: min-content;
  }

  #forecast {
    max-width: fit-content;
  }
}
